<!-- store/templates/store/cart.html -->
{% extends 'store/base.html' %}

{% block content %}
<h2>Your Cart</h2>

{% if cart_items %}
<table class="table">
    <thead>
        <tr>
            <th>Phone</th>
            <th>Qty</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.phone.brand }} {{ item.phone.model }}</td>
            <input type="number" class="form-control quantity-input" data-id="{{ item.phone.id }}" value="{{ item.quantity }}" min="1" max="{{ item.quantity }}">

            <td>{{ item.quantity }}</td>
            <td>${{ item.subtotal }}</td>
            <td>
                <button class="btn btn-sm btn-danger remove-btn" data-id="{{ item.phone.id }}">Remove</button>
            </td>
              
        </tr>
        {% endfor %}
    </tbody>
</table>
<h4>Total: ${{ total }}</h4>
<a href="#" class="btn btn-success">Checkout</a>
{% else %}
<p>Your cart is empty.</p>
{% endif %}
{% endblock %}
